mat-card {
	text-align: center;
}
mat-form-field {
	display: block;
}
button{cursor: pointer;}
.submit-buttons {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	margin-top: 10px;
	button {
		background-color: #d469a5;
		color: white;
		padding: 5px;
		
	}
}
.alert {
	color: red;
}