<html>
  <nav class="navigation">
    <div class="icon-column">
      <a mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_box</mat-icon>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </a>
      <mat-menu #profileMenu="matMenu">
        <button
          *ngIf="loginInfo === 'false' || loginInfo === null"
          mat-menu-item
          (click)="goToLogin()"
        >
          LOG IN
        </button>
        <button
          *ngIf="loginInfo === 'true'"
          mat-menu-item
          (click)="goToLogOut()"
        >
          LOG OUT
        </button>
      </mat-menu>
    </div>
  </nav>
  <main>
    <header class="heroBanner" *ngIf="currentUrl !== true">
      <video
        class="fullscreenVideo"
        src="assets/chmurki.mp4"
        autoplay
        loop
        muted
      ></video>
      <h1 class="heroTitle">Booking flight</h1>
    </header>
  </main>
  <div *ngIf="currentUrl !== true">
    <app-navbar></app-navbar>
  </div>
  <router-outlet></router-outlet>
  <footer>
    <div class="footer">
      <a href="#">HOME</a>
      <a href="#">ABOUT</a>
      <a href="#">PRIVACY POLICY</a>
      <a href="#">COOOKIES POLICY</a>
    </div>
  </footer>
</html>
